@use "./mixins" as *;

.filter-container {
  @include flex(row, center);
  justify-content: space-between;
  position: relative;
  padding: 1.4rem;

  .filter-actions {
    @include flex(row, center);
    box-shadow: 0 15px 15px 3px rgba(187, 187, 187, 0.2);
    border-radius: 5px;
    justify-content: space-around;
    padding: 1rem 4.5rem;
    position: absolute;
    top: 6.2rem;
    transform: translateX(-4%);
    width: 100%;

    @include small {
      transform: translateX(-3%);
    }

    @include medium {
      transform: translateX(-2%);
    }

    span {
      font-size: 1.2rem;
      font-weight: 700;
    }
  }
}
