@use "./variables" as *;
@use "./mixins" as *;

.todo-item {
  @include checkbox;
  @include flex(row, flex-start);
  justify-content: space-between;
  border-bottom: 1px solid;
  padding: 1.5rem;

  li {
    max-width: 23rem;
    font-weight: 700;
  }

  li.checked {
    text-decoration: line-through;
  }
}
