@use "./style-components/reset";
@use "./style-components/variables" as *;
@use "./style-components/mixins" as *;
@use "./style-components/todos";
@use "./style-components/todo-list";
@use "./style-components/item";
@use "./style-components/filter";

* {
  font-family: $font-family-josefin;
  font-size: 13px;
}

body {
  background-color: $very-light-grayish-blue;
  background-image: url("./images/bg-mobile-light.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

#root {
  @include flex(column, center);
}

header {
  @include flex(row, baseline);
  justify-content: space-between;
  width: 100%;
}

.app {
  @include flex(column, center);
  width: 23.2rem;
  padding: 3rem 1.5rem;
}

.logo {
  display: inline-block;
  color: $very-light-gray;
  letter-spacing: 5px;
  font-weight: 400;
}
