@use "./style-components/reset";
@use "./style-components/variables" as *;
@use "./style-components/mixins" as *;
@use "./style-components/todos";
@use "./style-components/todo-list";
@use "./style-components/item";
@use "./style-components/newItem";
@use "./style-components/filter";
@use "./style-components/colors";
@use "./style-components/theme-toggle";

* {
  font-family: $font-family-josefin;
  font-size: 12px;
}

#root {
  @include flex(column, center);
}

header {
  @include flex(row, baseline);
  justify-content: space-between;
  width: 100%;
  height: 5rem;
  margin-bottom: 1rem;
}

.app {
  @include flex(column, center);
  width: 100%;
  height: 100vh;
  padding: 4rem 6%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 17.7rem;
}

.logo {
  display: inline-block;
  color: $very-light-gray;
  letter-spacing: 7px;
  font-size: 2.1rem;
  font-weight: 400;
}
