@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.todos-container {
  background-color: hsl(0deg, 0%, 98%);
  border-radius: 5px;
  padding: 0.1rem;
  min-width: 22rem;
}

.todo-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.todo-item {
  border-bottom: 1px solid hsl(235deg, 19%, 35%);
  background-color: hsl(0deg, 0%, 98%);
  padding: 1rem;
}
.todo-item li {
  color: hsl(235deg, 19%, 35%);
}
.todo-item li.checked {
  text-decoration: line-through;
  color: hsl(236deg, 9%, 61%);
}

.filter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: hsl(233deg, 11%, 84%);
  position: relative;
  padding: 1rem;
}
.filter-container .filter-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: hsl(0deg, 0%, 98%);
  border-radius: 5px;
  color: hsl(236deg, 9%, 61%);
  padding: 1rem 4rem;
  position: absolute;
  top: 5rem;
  transform: translateX(-5%);
  width: 100%;
}

* {
  font-family: "Josefin Sans", sans-serif;
  font-size: 13px;
}

body {
  background-color: hsl(236deg, 33%, 92%);
  background-image: url("./images/bg-mobile-light.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23.2rem;
  padding: 3rem 1.5rem;
}

.logo {
  display: inline-block;
  color: hsl(0deg, 0%, 98%);
  letter-spacing: 5px;
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */