@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.todos-container {
  border-radius: 5px;
  padding: 0.1rem;
  width: 100%;
  box-shadow: 0 15px 15px 3px rgba(187, 187, 187, 0.2);
}

h2.no-items {
  margin: 2rem;
  text-align: center;
}

.todo-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid;
  padding: 1.5rem;
}
.todo-item .checkbox-container {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.todo-item .checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.todo-item .checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.todo-item .checkbox-container .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 7px;
  top: 4px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.todo-item .checkbox-container input:checked ~ .checkmark {
  background-image: linear-gradient(135deg, hsl(192deg, 100%, 67%), hsl(280deg, 87%, 65%));
}
.todo-item .checkbox-container input:checked ~ .checkmark::after {
  display: block;
}
@media screen and (min-width: 768px) {
  .todo-item img {
    visibility: hidden;
  }
  .todo-item:hover img {
    visibility: visible;
  }
}
.todo-item li {
  max-width: 23rem;
  font-weight: 700;
}
.todo-item li.checked {
  text-decoration: line-through;
}

.new-todo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-radius: 5px;
  width: 100%;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}
.new-todo input[type=text] {
  border: none;
  outline: none;
  width: 100%;
}
.new-todo .checkbox-container {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.new-todo .checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.new-todo .checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.new-todo .checkbox-container .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 7px;
  top: 4px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.new-todo .checkbox-container input:checked ~ .checkmark {
  background-image: linear-gradient(135deg, hsl(192deg, 100%, 67%), hsl(280deg, 87%, 65%));
}
.new-todo .checkbox-container input:checked ~ .checkmark::after {
  display: block;
}

.filter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 1.4rem;
}
@media screen and (min-width: 768px) {
  .filter-container {
    padding: 0.3rem 1.5rem;
  }
}
.filter-container div {
  min-width: 7rem;
}
@media screen and (min-width: 768px) {
  .filter-container div:last-child {
    text-align: right;
  }
}
.filter-container .filter-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 15px 15px 3px rgba(187, 187, 187, 0.2);
  border-radius: 5px;
  justify-content: space-around;
  padding: 1rem 4.5rem;
  position: absolute;
  top: 6.2rem;
  transform: translateX(-4%);
  width: 100%;
}
@media screen and (min-width: 768px) {
  .filter-container .filter-actions {
    box-shadow: none;
    padding: 0.9rem 1.5rem;
    position: static;
    margin-right: 1.4rem;
    transform: none;
  }
}
.filter-container .filter-actions .actions-btn {
  display: none;
}
.filter-container .filter-actions .radio-label {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .filter-container .filter-actions .radio-label {
    font-size: 1rem;
  }
}
.filter-container .clear-completed span {
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .filter-container .small-span {
    font-size: 0.9rem;
  }
}

.light {
  background-color: hsl(236deg, 33%, 92%);
  background-image: url("./images/bg-mobile-light.jpg");
}
@media screen and (min-width: 768px) {
  .light {
    background-image: url("./images/bg-desktop-light.jpg");
  }
}
.light h2.no-items {
  color: hsl(235deg, 19%, 35%);
}
.light .checkbox-container .checkmark {
  border: 1px solid hsl(233deg, 11%, 84%);
}
.light .new-todo {
  background-color: hsl(0deg, 0%, 98%);
}
.light .new-todo input[type=text] {
  background-color: hsl(0deg, 0%, 98%);
  color: hsl(235deg, 19%, 35%);
}
.light .todos-container {
  background-color: hsl(0deg, 0%, 98%);
}
.light .todos-container .todo-item {
  background-color: hsl(0deg, 0%, 98%);
  border-color: hsl(233deg, 11%, 84%);
}
.light .todos-container .todo-item li {
  color: hsl(235deg, 19%, 35%);
}
.light .todos-container .todo-item li.checked {
  color: hsl(236deg, 9%, 61%);
}
.light .filter-container {
  color: hsl(233deg, 11%, 84%);
}
.light .filter-container .filter-actions {
  background-color: hsl(0deg, 0%, 98%);
  color: hsl(236deg, 9%, 61%);
}
.light .filter-container .filter-actions .actions-btn:checked + .radio-label {
  color: hsl(220deg, 98%, 61%);
}
.light .filter-container .filter-actions .radio-label {
  transition: color 0.4s;
}
.light .filter-container .filter-actions .radio-label:hover {
  color: hsl(235deg, 19%, 35%);
}
.light .filter-container .clear-completed span {
  transition: color 0.4s;
}
.light .filter-container .clear-completed span:hover {
  color: hsl(235deg, 19%, 35%);
}

.dark {
  background-color: hsl(235deg, 21%, 11%);
  background-image: url("./images/bg-mobile-dark.jpg");
}
@media screen and (min-width: 768px) {
  .dark {
    background-image: url("./images/bg-desktop-dark.jpg");
  }
}
.dark h2.no-items {
  color: hsl(236deg, 33%, 92%);
}
.dark .checkbox-container .checkmark {
  border: 1px solid hsl(235deg, 19%, 35%);
}
.dark .new-todo {
  background-color: hsl(235deg, 24%, 19%);
}
.dark .new-todo input[type=text] {
  background-color: hsl(235deg, 24%, 19%);
  color: hsl(234deg, 11%, 52%);
}
.dark .todos-container {
  background-color: hsl(235deg, 24%, 19%);
  box-shadow: none;
}
.dark .todos-container .todo-item {
  background-color: hsl(235deg, 24%, 19%);
  border-color: hsl(233deg, 14%, 35%);
}
.dark .todos-container .todo-item li {
  color: hsl(234deg, 11%, 52%);
}
.dark .todos-container .todo-item li.checked {
  color: hsl(233deg, 14%, 35%);
}
.dark .filter-container {
  color: hsl(233deg, 14%, 35%);
}
.dark .filter-container .filter-actions {
  background-color: hsl(235deg, 24%, 19%);
  color: hsl(233deg, 14%, 35%);
  box-shadow: none;
}
.dark .filter-container .filter-actions .actions-btn:checked + .radio-label {
  color: hsl(220deg, 98%, 61%);
}
.dark .filter-container .filter-actions .radio-label {
  transition: color 0.4s;
}
.dark .filter-container .filter-actions .radio-label:hover {
  color: hsl(234deg, 11%, 52%);
}
.dark .filter-container .clear-completed span {
  transition: color 0.4s;
}
.dark .filter-container .clear-completed span:hover {
  color: hsl(234deg, 11%, 52%);
}

.theme-toggle {
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .theme-toggle {
    width: 30px;
    height: 30px;
  }
}

* {
  font-family: "Josefin Sans", sans-serif;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  * {
    font-size: 14px;
  }
}
@media screen and (min-width: 1024px) {
  * {
    font-size: 15px;
  }
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
  margin-bottom: 1rem;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 4rem 6%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 19rem;
}
@media screen and (min-width: 640px) {
  .app {
    padding: 4rem 12%;
  }
}
@media screen and (min-width: 768px) {
  .app {
    background-size: 100% 21rem;
    padding: 5rem 18%;
  }
}
@media screen and (min-width: 1024px) {
  .app {
    padding: 5rem 24%;
  }
}

.logo {
  display: inline-block;
  color: hsl(0deg, 0%, 98%);
  letter-spacing: 7px;
  font-size: 2.1rem;
  font-weight: 400;
}
@media screen and (min-width: 640px) {
  .logo {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    font-size: 2.3rem;
  }
}/*# sourceMappingURL=style.css.map */